[user]
  email = 0xvimcki@gmail.com
  name = vimcki
[core]
  excludesfile = ~/.gitignore_global
  pager = delta

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[interactive]
    diffFilter = delta --color-only
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
